<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quicklendar 기능 테스트</title>
</head>
<body>
<h1>Quicklendar</h1>

<h3>사용자</h3>
<ul>
    <!-- 회원가입 페이지로 이동 -->
    <li><a th:href="@{/join}">회원가입</a></li>
    <li><a th:href="@{/login}">로그인</a></li>
    <li><a th:href="@{/delete-account}">회원탈퇴</a></li>
    <li><a th:href="@{/profile}">프로필 수정</a></li>
    <li><a th:href="@{/logout-page}">로그아웃</a></li>
    <br>
</ul>

<h3>공모전</h3>
<ul>
    <li><a th:href="@{/competitions/main}">공모전 목록 보기</a></li>
    <li><a th:href="@{/competitions/addCompetition}">공모전 추가</a></li>
</ul>
</body>
</html>